<div class="contenedor">
  <div class="header">
    <p class="titulo">App Proyecto MetaTierras</p>  
    <p class="titulo">Versión {{getAppVersion()}}</p>  
    <p class="titulo">App para la ayuda a la recolección de datos en campo para la regularización de tierras en Colombia</p>
  </div>

  <div class="body">
    <div class="contenido">
      <h6>Autores:</h6>
      <ul>
        <li>Carmen Femenia Ribera <a href="https://ccasat.webs.upv.es/" target="_blank">(CCASAT)</a>. Directora del proyecto MetaTierras(cfemenia&#64;upv.es).</li>
        <li>Diego Terevinto Charquero <a href="https://upv.es/" target="_blank">(CCASAT)</a>. Desarrollador de la app (diegoterevinto&#64;gmail.com).</li>
        <li>Gaspar Mora Navarro <a href="https://ccasat.webs.upv.es/" target="_blank">(CCASAT)</a>. Desarrollador de la app, desarrollador de la API, de gestión de datos, y diseñador de la solución (joamona&#64;upv.es).</li>
        <li>Maria Isabel Fernández Rodas <a href="https://www.forjandofuturos.org/" target="_blank">(FFF)</a>. Diseñadora de la aplicación (topografa167&#64;gmail.com).</li>
      </ul>
      <div class="button-container">
        <div class="button-container">
          <button mat-raised-button routerLink="">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</div>
