<div class="contenedor">
  <div class="header">
    <h1>App Proyecto MetaTierras</h1>  
    <h2>App para la ayuda a la recolección de datos en campo para la regularización de tierras en Colombia</h2>
    <h2>Ayuda</h2>
  </div>

  <div class="body">
    <div class="contenido">
      <h3>Vídeos demostrativos:</h3>
      <ul>
        <li>Uso de la app para la toma de datos: datos del predio, 
          propietarios, y medición del perímetro. 
          <a href="https://media.upv.es/player/?id=57bc4170-0d1e-11ef-a769-7f9c22a58452" 
          target="_blank">Ver.</a>
        </li>
        <li>Envío de datos desde la app al servidor. 
          <a href="https://media.upv.es/player/?id=973dbb80-0d1e-11ef-a769-7f9c22a58452" 
          target="_blank">Ver.</a>
        </li>
        <li>Descarga de datos y visualización. 
          <a href="https://media.upv.es/player/?id=cd5f9cb0-0d1e-11ef-9b06-df984097a654" 
          target="_blank">Ver.</a>
        </li>
          <!--<li>Gestión de usuarios. 
            <a href="https://media.upv.es/player/?id=017b74b0-0d1f-11ef-9b06-df984097a654" 
            target="_blank">Ver.</a>
          </li>
          <li>Gestión de las sesiones de usuario. 
            <a href="https://media.upv.es/player/?id=6760a930-0d1f-11ef-9b06-df984097a654" 
            target="_blank">Ver.</a>
          </li>
        -->
      </ul>

      
      <div class="button-container">
        <div class="button-container">
          <button mat-raised-button routerLink="">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</div>
