<header>
    <div class="cont">
      <div> 
        <!--<span class="margin-right" (click)="showPreferences()">III</span>-->
        @if (authService.username!=''){
            <span class="margin-right">Usuario: {{getUsername()}}</span><br>
            <span class="margin-right">Grupos: {{getUserGroups()}}</span><br>
            <span class="margin-right">Sesiones abiertas: {{authService.opened_sessions}}</span>
          } @else {
            <span class="margin-right">No autenticado</span>
          }
      </div>
      <div class="margin-right">

        @if (netStatusService.available){
          <mat-icon class="margin-right" (click)="netStatusService.getNetworkStatus()">signal_wifi_4_bar</mat-icon>
          <br>
        } @else {
          <mat-icon class="margin-right" (click)="netStatusService.getNetworkStatus()">signal_wifi_off</mat-icon>
          <br>
        }
        <mat-icon (click)="changeShowMessages()">mail_outline</mat-icon>
        @if(appGlobalVarsService.appMode==1){
          <br>
          <span>DESARROLLO</span>
        }
      </div>

    </div>
</header>
@if(showMessages || appGlobalVarsService.appMode==1){
  <app-messages></app-messages>
}
