<div class=""contenedor>
  <div class="header">
    <h1>App Proyecto MetaTierras: Ayuda a la recolección de datos para la regularización de tierras en Colombia</h1>  
  </div>

  <div class="body">
    <main>
      <div class="principal">
        <div class="contenido-pair">
          <h2>Recolección</h2>
          <img src="images/recoleccion.jpg" alt="Imagen de recolección">
        </div>
        <div class="contenido-pair">
          <h2>Título</h2>
          <span></span>
        </div>
        <div class="contenido-pair">
          <h2>Regulación</h2>
          <img src="images/regulacion.png" alt="Imagen de regularización">
        </div>
      </div>
      <div class="contenido">
        <p>App para la ayuda a la recolección de datos en campo para la regularización de tierras en Colombia:</p>
        <ul>
          <li>Recopila sobre el predio.</li>
          <li>Recopila información identificativa de propietarios.</li>
          <li>Permite a los propietarios medir sus predios mediante el GPS del móvil.</li>
          <li>Toma imágenes de documentos legales que justifiquen la tenencia de la tierra (En desarrollo). </li>
          <li>Almacena los datos en el dispositivo</li>
          <li>Los datos se pueden enviar a los técnicos especialistas cuando se tiene internet</li>
        </ul>
        <div class="button-container">
          <button mat-raised-button routerLink="main-screen">Iniciar</button>
          <button mat-raised-button routerLink="ayuda">Ayuda</button>
          <button mat-raised-button routerLink="about">Acerca de</button>
        </div>
      </div>
    </main>
  </div>
</div>