
<div class="modal-backdrop">
    <div class="modal-container">
        <div class="modal-header">
            <h4 class="modal-title">Puntos Medidos</h4>
        </div>
        <div class="modal-body">
            <table class="modal-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Longitud</th>
                    <th>Latitud</th>
                    <th>Precisión (m)</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    @for(point of data.points; track point.id){
                        <tr>

                            <td>{{ point.id }}</td>
                            <td>{{ point.lon }}</td>
                            <td>{{ point.lat }}</td>
                            <td>{{ point.exactitud_horizontal }}</td>
                            <td>
                                <input type="text" [(ngModel)]="point.descripcion" (ngModelChange)="updateDescription(point)">
                            </td>
                            <td>
                                <button mat-button (click)="onDeletePoint(point.id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button mat-button (click)="dialogRef.close()">Cerrar</button>
        </div>
    </div>
</div>
