<div class="container">
  @if (newVersion>0){
    <div class="border container">
      <p class="titulo red">Existe una nueva versión de la app</p>
      <p class="red">Usted tiene la {{appGlobalVarsService.appVersion}}, y la última versión es la {{newVersion}}</p>
      <p class="red">Es recomendable que actualice la versión.</p> 
      <p class="red">Descárguela de <a href="{{appGlobalVarsService.web_url + 'last_app_version'}}" target="_blank">aquí</a></p>
    </div>
  }
  
  @if (sqliteService.baunitList.length > 0){
    <div class="header">
      <p class="titulo">Número de predios: {{sqliteService.baunitList.length}}</p>
      <p>Click sobre la fila del predio para editar</p>
    </div>
    <app-baunit-list></app-baunit-list>
  }@else {
    <div class="header">
      <p class="titulo">No hay predios todavía</p>
    </div>
  }
  

  <button mat-raised-button [routerLink]="['/main-screen/menu-predio/baunit']" [queryParams]="{mode: 'añadir'}">Nuevo Predio</button>
  <!-- <button mat-raised-button [disabled]="true">Editar Predio desde el Mapa</button> -->
  <button mat-raised-button routerLink="./advanced">Avanzado</button>
  <button mat-raised-button routerLink="../">Atrás</button>
</div>
