<div class="container2">
    <table>
        <thead>
        <tr>
            <th>Documento</th>
            <th>Nombre Completo</th>
            <th>Tipo</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
            @for (interesado of sqliteService.interesadoList; track interesado) {
                <tr (click)="editInteresado(interesado.id, interesado.baunit_id)">
                    <td>{{interesado.documento_identidad}}</td>
                    <td>{{interesado.primer_nombre}} {{interesado.primer_apellido}}</td>
                    <td>{{interesado.tipo}}</td>
                    <td>{{interesado.correo_electronico}}</td>
                    <td>{{interesado.telefono_1}}</td>
                    <td>{{interesado.estado}}</td>
                </tr>
            }

        </tbody>
    </table>
</div>
