<div class="container">
    <div class="header max-width-350px">
        @if (mode=='añadir'){
            <p class="titulo">Nuevo predio</p>
        }@else {
            <p class="titulo">Editar predio</p>
            @if (predioActual){
                <p class="titulo">Nombre: {{predioActual.nombre}}</p>
            }
        }
    </div>
    @if (mode=='añadir'){
        <button mat-raised-button (click)="goToDatosPredio()">Nuevo predio</button>
    }@else {
        <button mat-raised-button (click)="goToDatosPredio()">Editar este predio</button>
    }

    <button mat-raised-button [routerLink]="['./list-interesados']" [queryParams]="{mode: 'añadir', baunit_id: this.baunitId}" [disabled]="!isInteresadosButtonEnabled">Datos Interesados
        <span class="badge">{{ getInteresadosCountForCurrentBaunit() }}</span>
    </button>

    @if (appGlobalVarsService.appMode==1){
        <button mat-raised-button [routerLink]="['./field-image']" [queryParams]="{mode: 'añadir', baunit_id: this.baunitId}"> Añadir imagen del terreno
            <span class="badge">0</span>
        </button>
    }
    
    <button mat-raised-button [routerLink]="['./medir-gps-list']" [queryParams]="{mode: 'añadir', baunit_id: this.baunitId}" [disabled]="!isInteresadosButtonEnabled">Medir con GPS
        <span class="badge">{{ getUnidadesEspacialesCountForCurrentBaunit() }}</span>
    </button>

    <button mat-raised-button  (click)="enviarPredio()" [disabled]="!isInteresadosButtonEnabled">
        <ng-container *ngIf="this.predioActual?.enviado_servidor">Reenviar</ng-container>
        <ng-container *ngIf="!this.predioActual?.enviado_servidor">Enviar</ng-container>
    </button>
    <button mat-raised-button id="btnEliminar" (click)="eliminarPredio()" [disabled]="!isInteresadosButtonEnabled">Eliminar</button>
    <button mat-raised-button routerLink="../">Atrás</button>
</div>
