<div class="container">
    <h2>Menú Principal</h2>
    <button mat-raised-button [routerLink]="['./baunit']" [queryParams]="{mode: 'añadir'}">Datos Predio</button>
    <button mat-raised-button [routerLink]="['./list-interesados']" [queryParams]="{mode: 'añadir', baunit_id: this.baunitId}" [disabled]="!isInteresadosButtonEnabled">Datos Interesado
        <span class="badge">{{ sqliteService.interesadoList.length }}</span>
    </button>
    <button mat-raised-button routerLink="../">Atrás</button>
</div>
